node_modules
node_modules/*
typings/*
images/*
isonline_mysql
npm-debug.log
package-lock.json
.settings/*
.git/*
.github
bower_components/*
/config
/temp
.vscode
.DS_Store
.idea
.env
.venv
*.db
data/
*.sh
*.old
*.bak
*.test
*.tmp
*.sql
null
/sent_result.txt