# [Hospital]
HOSPCODE=00000

# [API]
PORT=3004
HOST=0.0.0.0
ROUTE_PREFIX=
START_TOOL=pm2

# ระบุเป็น 1 กรณีมีการ Set private IP ไปตรงกับ IP ต่างประเทศ (ใช้ Subnet /24)
# โปรดระมัดระวังการแก้ไขค่าในส่วนนี้
ALLOW_API_SUBNET=0

# valid db client driver: mysql (version เก่า), mysql2 (mysql 5.5+, mariaDB 10+, percona 5.5+), pg, mssql, oracledb
# valid HIS provider name: 
#    iHospital, HOSxPv3, HOSxPv4, HOSxPpcu, infod, homc, ssb
#    hospitalos, jhcis, kpstat, md, mkhospital, thiades, 
#    hi, himpro, mitnet, EPIS, nemo, mypcu, emrsoft, haos, 
#    MBase,VPM, medical2020

# [HIS DB]
HIS_PROVIDER=HOSxPv3
HIS_DB_CLIENT=mysql2
HIS_DB_HOST=localhost
HIS_DB_PORT=3306
HIS_DB_SCHEMA=public
HIS_DB_NAME=db
HIS_DB_USER="user"
HIS_DB_PASSWORD="password"
HIS_DB_CHARSET=utf8mb4
HIS_DB_ENCRYPT=true
MAX_CONNECTION_PER_MINUTE=1000
# oracledb
NODE_ORACLEDB_DRIVER_MODE=thin

# [ISDB - for ISONLINE only]
# ตั้งแต่ v.3.8.14 จะไม่รองรับ ISOnline (รองรับเฉพาะ PHER+)

# [nRefer]
NREFER_API_URL="https://refer.moph.go.th/api/his"
NREFER_DATA_BACKWARD_MONTH=0
NREFER_AUTO_SEND=1
NREFER_AUTO_SEND_EVERY_MINUTE=15

#[MOPH ERP]
MOPH_ERP_API_URL='https://refer.moph.go.th/api/erp'
MOPH_ERP_APIKEY="กรุณาระบุ API Key จากหน้า Admin page"
MOPH_ERP_SECRETKEY="กรุณาระบุ API Secret Key จากหน้า Admin page"

# [JWT]
REQUEST_KEY="<ใส่อะไรก็ได้ที่จำได้_10_ถึง_16_ตัว>"
SECRET_KEY="<ใส่อะไรก็ได้_16_ถึง_64_ตัว_dsjfkKK3@oOse889@wd9dlixXdrTC2LQQqoi*345>"
