<% include ./../../templates/includes/head %>
<header>
    <% include ./../../templates/includes/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron text-center">
                <h2 style="color: rgb(101, 168, 110);">HIS Connection API</h2>
            </div>
        </div>

    </div>
</main>
<p style="text-align: center; color: rgb(230, 106, 5);"><strong>Expire: <%= token %></strong></p style="text-align: center; color: rgb(230, 106, 5);">
<% include ./../../templates/includes/footer %>
