<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-align-justify"></span>
                &nbsp; HIS Connection API
            </a>

            <ul class="nav navbar-nav">
                <li><a href="/setup-api">Home</a></li>
                <li><a href="/setup-api/form">Setup</a></li>
                <li><a href="/setup-api/login">Login</a></li>
                <!-- <li><a href="/setup-api/about">About</a></li> -->
            </ul>
        </div>

    </div>
</nav>
